<div class = "header"><span class="hi">HI</span> and <span class= "low">LOW</span>
</div>

<div class = "select" >
  <button type="button" class="btn btn-primary btn-lg">START</button>
  <button type="button" class="btn btn-primary btn-lg">LOG IN</button>
  <button type="button" class="btn btn-primary btn-lg">SCORE RANKING</button>
</p>