.header {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}


.hi {
  color: red;
  font-weight: bold;
}

.low {
  color: blue;
  font-weight: bold;
}

.select {
  margin-top:150px ;
  text-align: center;

}

.btn-lg {
  width: 200px;
  margin-left:30px ;
}